extends layout

block content
  h1= title
  p Welcome to #{title}. Express.js, or simply Express, is a back end web application framework for building RESTful APIs with Node.js, released as free and open-source software under the MIT License. 
  button(type="button", class="btn btn-secondary") Press Me